snippet guard "include once" 
#ifndef `!p
head = f"__{snip.fn.replace('.', '_')}__".upper()
snip.rv = head
`
#define `!p
snip.rv = head
`

${1:${VISUAL}}

#endif /* `!p snip.rv = head` */
endsnippet

